<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
    <link rel="stylesheet" href="/static/site.css"/>
</head>
<body class = Projechub>

    <nav class= 'navbar navbar-expand-lg navbar-light bg-light'>
        <div class="navbar-nav">

            <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('list_team')}}">Our Teams</a>
            <a class="nav-item nav-link" href="{{url_for('list_projects')}}">Our Projects</a>
            
        </div>
    </nav>
    {% block content %}

    {% endblock %}

</body>
</html>