<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
{% extends "base.html" %}
{% block content %}

<body>
    
<div class="projecthub">
    <h1>Check out our amazing community of creators!</h1>

    <a class="nav-item nav-link" href="{{url_for('list_team')}}">Our Teams</a>

    <ul>
        {% for team in teams %}

        <li>{{team}}</li>

        {% endfor %}

        


    </ul>
</div>

{% endblock %}


</body>


</html>

